<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h4> Pokemon </h4>

<% @trainer.pokemons.each do |p| %> 
	<p> Name: <%= p.name %> </p>
	<p> Level: <%= p.level %> </p>
	<p> Health: <%= p.health %> </p>
	 <%= button_to "Damage!", damage_path(id: p), :class => "button medium", :method => :patch %>
<% end %>

                   
          